node_modules/

# Ignore all reports by default...
reports/**

# ...but allow archived reports (timestamped runs)
!reports/archive/**
!reports/.gitkeep
!reports/README.md

artifacts/
allure-report/
.DS_Store

src/plugins/ai/model/pretrained-model/weights.bin
src/plugins/ai/model/pretrained-model/model.json
src/support/apiKey

.env
build/
videos/

**/*.js
**/*.js.map
**/*.d.tssrc/plugins/ai/model/image-classification-model/weights.bin
src/plugins/ai/model/image-classification-model/model.json
src/plugins/ai/images/
